@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/* GLOBAIS */
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #F2ECE4;
    color: #0D0D0D;
}

/* HEADER */
header {
    background: #0D0D0D;
}

header .container {
    max-width: 1200px;
    margin: auto;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-weight: 300;
    color: #F2ECE4;
}

header a {
    color: #F2ECE4;
    text-decoration: none;
}

header a:hover {
    color: #BFBBB4;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

/* APRESENTAÇÃO */
.apresentacao {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.apresentacao-conteudo {
    flex: 1;
}

.apresentacao-info {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}

#fotoEstevan {
    width: 200px;
}

.apresentacao-info p {
    max-width: 500px;
}

#devicon {
    display: flex;
    margin-left: 130px;
    width: 200px;
}

/* PROJETOS */
.projetos {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

.projetos h2 {
    margin-bottom: 20px;
}

.projetos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-projeto {
    background: #ffffff;
    padding: 20px;
    width: 20%;
    border-radius: 8px;
}

.card-projeto img {
    width: 100%;
    border-radius: 8px;
    padding: 16px;
}

.card-projeto h3 {
    margin-bottom: 10px;
}

/* CONTATO */
.contato {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

/* FOOTER */
footer {
    background: #0D0D0D;
    padding: 20px;
    text-align: center;
    color: #F2ECE4;
}

/* MQ */
@media (max-width: 900px) {
    .apresentacao {
        flex-direction: column;
    }

    .apresentacao-aside img {
        width: 100%;
    }

    .apresentacao-info {
        flex-direction: column;
    }

    .card-projeto {
        width: 75%;
    }

    #devicon {
    display: flex;
    margin: auto;
    width: 200px;
}
}
